html {
	background-color: #601f9e;
}

h1 {
	color: gold;
	text-align: center;
	font-family: Inter, Roboto, sans-serif;
}

h2 {
	color: yellow;
	font-family: Roboto, sans-serif;
}

h3 {
	color: yellow;
	font-family: Roboto, sans-serif;
}

p {
	color: white;
	font-family: Roboto, sans-serif;
}

::selection {
	color: white;
	background: purple;
}	